body { 
    font-family: Arial;
    text-align: center;
    background-color: #2F4F4F
;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
}

li a {
    color: #000000;
    font-weight: bold;
}

div {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 35%;
}

span.quote {
    margin-bottom: 30px;
}

blockquote {
    font-size: 1.5em;
    color: #6495ED;
    font-style: italic;
}

p {
    color: #000000;
}

p.author {
    font-weight: bold;
    color: #000000;
}

span.highlight {
    background-color: #FFFF00;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}